
// Definiçaõ de Fontes
$fontPrincipal: Roboto, sans-serif;

// Definição de cores
$CorDeFundo: #95a5a6;
$CorPrincipal: #1abc9c;
$CorSecundaria: #16a085;

// Breakpoint
$mobile: 767px;
$tablet: 1023px;